# This workflow will build a golang project
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-go

name: Test

on:
  push:
    branches: [ "main" ]
    paths:
      - '**.go'
      - '**.sql'
      - '.env.example'
      - '**.yml'
      - '**.tf'
      - 'go.mod'
      - 'go.sum'
      - 'Dockerfile'
  pull_request:
    branches: [ "main" ]
    paths:
      - '**.go'
      - '**.sql'
      - '.env.example'
      - '**.yml'
      - '**.tf'
      - 'go.mod'
      - 'go.sum'
      - 'Dockerfile'

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3

    - name: Update apt
      run: sudo apt update
    
    - name: Install dependencies
      run: sudo apt install libx264-dev libopus-dev

    - name: Set up Go
      uses: actions/setup-go@v4
      with:
        go-version: '1.21'
    
    - name: Test
      run: go test -v -timeout 5m ./...
